@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
.damarket a {
  transition: all 0.3s ease;
}

.damarket {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #373737;
}
.damarket .trending {
  margin-bottom: 57px;
}
.damarket .trending .title {
  border-bottom: 1px solid #e5e8ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
  padding-bottom: 10px;
}
.damarket .trending .title h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #021523;
}
.damarket .trending .title a {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #131f35;
  position: relative;
  padding-right: 19px;
}
.damarket .trending .title a::before {
  content: "";
  width: 7px;
  height: 10px;
  background: url("http://127.0.0.1:5500/src/new-pages/assets/images/viewall.svg");
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  right: 0;
}
.damarket .trending .title a:hover {
  color: #0180fe;
}
.damarket .trending .product-container {
  border-top: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}
.damarket .trending .product-container .product-box {
  padding: 28px 19px;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  width: 25%;
}
.damarket .trending .product-container .product-box .product-category span {
  color: #999999;
  font-size: 11px;
  line-height: 20px;
  margin-bottom: 4px;
}
.damarket .trending .product-container .product-box .product-category span:not(:last-child) {
  margin-right: 6px;
  position: relative;
}
.damarket .trending .product-container .product-box .product-category span:not(:last-child)::after {
  content: ",";
}
.damarket .trending .product-container .product-box .product-name {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}
.damarket .trending .product-container .product-box .product-image {
  margin-top: 16px;
  margin-bottom: 9px;
  position: relative;
}
.damarket .trending .product-container .product-box .product-image .product-badge {
  position: absolute;
  top: 6px;
  left: 0;
  background: #ef262c;
  border-radius: 9px 9px 0 9px;
  font-size: 9px;
  line-height: 15px;
  color: #fff;
  display: block;
  padding: 2px 11px;
}
.damarket .trending .product-container .product-box .product-image img {
  max-width: 100%;
}
.damarket .trending .product-container .product-box .product-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.damarket .trending .product-container .product-box .product-foot .product-price span {
  display: block;
}
.damarket .trending .product-container .product-box .product-foot .product-price span i {
  font-style: normal;
  margin-right: 1px;
}
.damarket .trending .product-container .product-box .product-foot .product-price .product-oldprice {
  font-size: 11px;
  line-height: 18px;
  color: #999;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.damarket .trending .product-container .product-box .product-foot .product-price .product-newprice {
  font-size: 14px;
  line-height: 22px;
  color: #ef262c;
}
.damarket .trending .product-container .product-box .product-foot .product-review {
  text-align: right;
}
.damarket .trending .product-container .product-box .product-foot .product-review label {
  font-size: 10px;
  line-height: 17px;
  color: #999;
  display: block;
}
.damarket .trending .product-container .product-box:hover {
  cursor: pointer;
  box-shadow: 0 0 10px inset #f7f7f7;
}
.damarket .trending .product-container .product-box:nth-child(2n-1):hover {
  border-radius: 4px 0 0 0;
}
.damarket .trending .product-container .product-box:nth-child(4):hover {
  border-radius: 0 4px 0 0;
}
.damarket .trending .product-container .product-box:last-child {
  border-radius: 0 0 4px 0;
}
.damarket .trending .mb-57 {
  margin-bottom: 57px;
}
.damarket * {
  outline: none;
}
.damarket a {
  text-decoration: none;
}/*# sourceMappingURL=trending.css.map */