@import "../variable/varable.scss";
.damarket {
    font-family: $primaryFf;
    font-size: $p14;
    color: $primaryColor;
    //BlogPost
    .blogpost {
        background-color: #003585;
        padding-top: 57px;
        padding-bottom: 57px;
        // margin-bottom: 57px;
        .title {
            border-bottom: 1px solid #ffffff1a;
            // margin-bottom: 28px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 19px;
            h2 {
                font-weight: 600;
                font-size: 24px;
                line-height: 24px;
                color: #fff;
            }
            a {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.03px;
                color: #fff;
                position: relative;
                padding-right: 19px;
                &::before {
                    content: "";
                    width: 7px;
                    height: 10px;
                    background: url("http://127.0.0.1:5500/src/new-pages/assets/images/arrow-yellow.svg");
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-repeat: no-repeat;
                    right: 0;
                }
                &:hover {
                    color: #ffbd27;
                }
            }
        }
        .post-container {
            padding-top: 14px;
            display: flex;
            flex-wrap: wrap;
            .post {
                border: 8px solid #fff;
                width: 23.5%;
                margin-right: 2%;
                position: relative;
                transition: all 0.9s ease;
                &:nth-child(4) {
                    margin-right: 0;
                }
                .post-img {
                    position: relative;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: none;
                        // transition: all 0.9s ease;
                        background: linear-gradient(329.39deg, #000000 -10.96%, rgba(0, 0, 0, 0.19) 103.96%);
                    }
                }
                .post-content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 16px;
                    h4 {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        color: #fff;
                        margin: 0;
                    }
                    p {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 19px;
                        margin: 0 0 7px;
                        color: #fffc;
                    }
                    button {
                        text-align: center;
                        letter-spacing: -0.192767px;
                        font-size: 10px;
                        line-height: 20px;
                        color: #fff;
                        border: 0.668373px solid #ffffff;
                        background: #000000;
                        position: relative;
                        transition: all 0.3s ease-in-out;
                        &:after {
                            content: "";
                            background: url(http://127.0.0.1:5500/src/new-pages/assets/images/arrow-white.svg) no-repeat;
                            display: block;
                        }
                        &:hover {
                            background-color: #fff;
                            border-color: #000;
                            color: #000;
                        }
                    }
                }
                &:hover {
                    .post-img {
                        &::before {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    //Common into DaMarket
    * {
        outline: $none;
    }
    a {
        text-decoration: $none;
        @extend %trans-easecommon;
    }
}
